{{> head}}
{{> navbar}}

<body>

    <div class="row">

        <div class="col-8">
            <h1>Bienvenido al About</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quaerat natus. Ab cumque deleniti, quos, amet repellendus a vel exercitationem fugit in molestias harum illo aperiam voluptate, aspernatur excepturi voluptates.</p>
        </div>

        <div class="col-4">
            <img src="/assets/img/imagen1.jpg" class="img-thumbnail">
        </div>
        
    </div>

    {{> footer}}


</body>
